.App {
  text-align: center;
  margin-top: 2rem;
}


.btn-style{
  display: flex;
  justify-content: flex-start;
  text-decoration: none;
  cursor: pointer;
  padding: .6rem;
  color: white;
  border-radius: 5px;
  border: none;
  margin: 1rem;
}

.modal{
  top: 15% !important;
  left: 35% !important;
  z-index: 1000 !important;
  border: 1px solid gray;
  background-color: rgba(255, 255, 255, 0.884);
  width: 500px !important;
  height: 300px !important;
  display: inline-block !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  flex-direction: column ;

}

 .modal-header{
   width: 100%;
   border-bottom: 1px solid gray !important;
   background: #f7f7f7 !important;
} 

.modal-body{
  width: 100%;
  border-bottom: 1px solid gray !important;
  background: #f7f7f7 !important;
  
}



